<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>
          <a href="/tasks/user/{{this.id}}" class="btn">View Tasks</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>